.ql-container {
  height: 24rem !important;
}

.ql-editor {
  width: 100%;
  overflow-y: scroll;
}

.notification__types-badge {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
