.ql-container {
  height: 24rem !important;
}

.ql-editor {
  width: 100%;
  overflow-y: scroll;
}

.notification__types-badge {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.img-watermark {
  position: absolute;
  opacity: 0.8;
  transition: 300ms ease-out;
}

.img-watermark-bottom {
  bottom: 1rem;
  right: -3rem;
}
.img-watermark-top {
  top: 1rem;
  left: -3rem;
  transform: rotate(180deg);
}

img.home-blog-image {
  transition: 300ms ease-out;
}

.home-blog-image-container:hover img.home-blog-image {
  transform: scale(1.1) rotate(1deg);
  transition: 300ms ease-out;
}

.sidebar-unseen-notification {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 100%;
}
